<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Paul Shibanov</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
  <mat-card>
    <mat-card-title>
      <h1>
        {{ title }}
      </h1>
    </mat-card-title>
    <a mat-button href="//blog.paulshibanov.com/?ref=paulshibanov.com">Click to visit my blog</a>
  </mat-card>
  <mat-card>
    <mat-card-title>My job stack:</mat-card-title>
    <object id='stackshare'
            data="https://embed.stackshare.io/stacks/embed/e9dd07a2f25a037aaf814a941e10db?theme=light"></object>
  </mat-card>
</div>
