name: CI/CD
on: [push]
jobs:
  kaniko_build:
    name: kaniko build
    runs-on: ubuntu-latest
    container:
      image: gcr.io/kaniko-project/executor:debug
    steps:
      - uses: actions/checkout@v1
      - name: Create dockerconfig
        run: printf $FORMAT ${{ secrets.REGCRED }} > /kaniko/.docker/config.json
        env:
          FORMAT: '{"auths":{"https://index.docker.io/v1/":{"auth":"%s"}}}'
      - name: Build image
        run: /kaniko/executor
          --cache
          --cache-repo paulshibanov/com
          --context $GITHUB_WORKSPACE
          --destination paulshibanov/com:$GITHUB_SHA

  ng_lint:
    needs: [kaniko_build]
    name: ng lint
    runs-on: ubuntu-latest
    container:
      image: paulshibanov/com:${{ github.sha }}
    steps:
      - name: Lint the code
        run: ng lint
        working-directory: /srv

  ng_test:
    needs: [kaniko_build]
    name: ng test
    runs-on: ubuntu-latest
    container:
      image: paulshibanov/com:${{ github.sha }}
    steps:
      - name: Run unit tests
        run: ng test --watch=false --codeCoverage=true --browsers=ChromeHeadless
        working-directory: /srv
      - name: Upload code coverage report
        run: npx codecov
        working-directory: /srv

  ng_e2e:
    needs: [kaniko_build]
    name: ng e2e
    runs-on: ubuntu-latest
    container:
      image: paulshibanov/com:${{ github.sha }}
    steps:
      - name: Run e2e tests
        run: ng e2e --protractorConfig=e2e/headless.conf
        working-directory: /srv